@mixin wh($dim: 100%) {
  width: $dim;
  height: $dim;
}

.medium-pack-photo {
  @apply relative hidden;
  > img {
    transition: 0.4s transform, 0.4s filter;
    filter: blur(24px) brightness(100%);
    transform: scale(1.05);
    @apply block object-cover;
    @include wh;
  }
  &:not(.no-hover) {
    cursor: zoom-in;
  }
  > img.loaded {
    filter: blur(0px) brightness(100%);
    transform: scale(1);
  }
  &:not(.no-hover):hover {
    > img.loaded {
      transform: scale(1.05);
      filter: blur(0px) brightness(60%);
    }
    > img.loaded + .cross {
      opacity: 1;
      transform: rotate(180deg);
    }
  }
}
.medium-pack-photo .cross {
  $dim: 8rem;
  $offset: calc(50% - #{$dim/2});
  left: $offset;
  top: $offset;
  @include wh($dim);
  @apply block  absolute opacity-0;
  transition: transform 0.4s, opacity 0.4s;
  &::before,
  &::after {
    content: "";
    width: 0.4px;
    @apply absolute left-1/2 h-full bg-white;
  }
  &::after {
    transform: rotate(90deg);
  }
}
