@mixin wh($dim: 100%) {
  width: $dim;
  height: $dim;
}
.photo-viewer {
  transition-property: opacity, background-color;
  transition-duration: env(--viewer-transtion-speed);
  top: 200vh;
  @apply w-full h-screen fixed left-0 z-50 bg-primary bg-opacity-0 cursor-zoom-out;
  .viewed-photo {
    transform: scale(1.05);
    @apply relative object-cover;
  }
}
.photo-viewer.photo-viewer-close {
  @apply opacity-0;
}
.photo-viewer-open {
  @apply top-0 bg-opacity-100;
  .viewed-photo {
    $h: var(--enlarged-photo-h);
    $w: var(--enlarged-photo-w);
    animation: env(--viewer-transtion-speed) place-img forwards;
  }
}

@keyframes place-img {
  to {
    $h: var(--enlarged-photo-h);
    $w: var(--enlarged-photo-w);
    transform: scale(1);

    width: $w;
    height: $h;
    top: calc((100vh - #{$h}) / 2);
    left: calc((100% - #{$w}) / 2);
  }
}
