@mixin wh($dim: 100%) {
  width: $dim;
  height: $dim;
}
.photo-viewer.photo-multi-viewer {
  --number-of-slides: 3;
  --slides-per-view: 1;
  cursor: grab;
  .photo-slider {
    @apply w-full h-screen;
  }
  .first-slide,
  .other-slides {
    overflow: hidden;
  }
  > .viewed-photo {
    object-fit: cover;
    @include wh;
  }
  .first-slide {
    position: relative;
    @include wh;
  }
  .other-slides {
    @include wh;
    @apply flex justify-center items-center;
    .medium-pack-photo {
      width: var(--enlarged-photo-w);
      height: var(--enlarged-photo-h);
    }
  }
}
.photo-multi-viewer {
  button {
    cursor: pointer;
    appearance: none;
    border: none;
    position: absolute;
    z-index: 99;
    top: calc(50vh - 2rem);
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity env(--viewer-transtion-speed);
    @apply h-24 w-12;
    &:hover,
    &:focus {
      outline: none;
    }
    svg {
      @apply w-5 h-auto inline-block;
      path {
        stroke: black;
        stroke-width: 0.5;
      }
    }
  }
  button#multi-viewer-prev {
    left: 0;
    border-radius: 0 999px 999px 0;
    svg {
      margin-left: -0.75rem;
      transform: scaleX(-1);
    }
  }
  button#multi-viewer-next {
    right: 0;
    border-radius: 999px 0 0 999px;
    svg {
      margin-right: -0.75rem;
    }
  }
  button#close-multi-viewer {
    @apply right-0 top-0 bg-white bg-opacity-90;
    @include wh(4rem);
    border-radius: 0 0 0 999px;
    &:before,
    &:after {
      position: absolute;
      top: 0.9rem;
      right: 1.6rem;
      content: " ";
      height: 1.5rem;
      width: 2px;
      background-color: black;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

.photo-multi-viewer.photo-viewer-open:not(.photo-viewer-close) button {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
