@mixin wh($dim: 100%) {
  width: $dim;
  height: $dim;
}
.MP-viewer.MP-multi-viewer {
  --number-of-slides: 3;
  --slides-per-view: 1;
  cursor: grab;
  .photo-slider {
    @apply w-full h-screen;
  }
  .first-slide,
  .other-slides {
    overflow: hidden;
  }
  > .viewed-photo {
    object-fit: cover;
    @include wh;
  }
  .first-slide {
    position: relative;
    @include wh;
  }

  img.other-slide {
    filter: blur(24px);
    transition: 0.4s filter;
    pointer-events: all;
    @include wh;
    @apply object-contain p-2;
  }
  img.other-slide.loaded {
    filter: blur(0px);
  }
}
.MP-multi-viewer {
  .MP-viewer_navbar {
    transition: opacity env(--viewer-transtion-speed);
    @apply opacity-0 bg-primary bg-opacity-75 cursor-default whitespace-nowrap absolute top-0 left-0 w-full h-12 px-2 flex justify-between items-center;
  }
  &.MP-viewer-open .MP-viewer_navbar {
    @apply opacity-100;
  }
  button {
    transition: opacity env(--viewer-transtion-speed);
    @apply z-50 cursor-pointer appearance-none border-none absolute opacity-60;
    &:hover {
      @apply opacity-100;
    }
  }
  button:not(#close-multi-viewer) {
    top: calc(50vh - 2rem);
    @apply h-24 w-12 bg-primary bg-opacity-90;
    svg {
      @apply w-5 h-auto inline-block;
      path {
        @apply stroke-secondary fill-secondary;
        stroke-width: 0.5;
      }
    }
  }
  button#multi-viewer-prev {
    left: 0;
    border-radius: 0 theme("spacing.4") theme("spacing.4") 0;
    svg {
      margin-left: -0.75rem;
      transform: scaleX(-1);
    }
  }
  button#multi-viewer-next {
    right: 0;
    border-radius: theme("spacing.4") 0 0 theme("spacing.4");
    svg {
      margin-right: -0.75rem;
    }
  }
  button#close-multi-viewer {
    @apply relative w-5 h-12;
    background: none;
    &:before,
    &:after {
      position: absolute;
      top: 0.7rem;
      left: 0.4rem;
      content: " ";
      height: 1.5rem;
      width: 2px;
      border-radius: 1px;
      @apply bg-secondary;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
