.MP-photo {
  @apply relative overflow-hidden;
  > img {
    transition: 0.4s transform, 0.4s filter;
    filter: blur(24px) brightness(100%);
    transform: scale(1.05);
    @apply block object-cover w-full h-full relative z-[0];
  }
  > img.loaded {
    filter: blur(0px) brightness(100%);
    transform: scale(1);
  }
  &:not(.no-hover) {
    cursor: zoom-in;
  }
  &:not(.no-hover):has(img.loaded):hover {
    --MP-cross-rotate: 90deg;
    --MP-cross-opacity: 1;
    > img.loaded {
      transform: scale(1.05);
      filter: blur(0px) brightness(60%);
    }
  }
  --MP-cross-rotate: 0deg;
  --MP-cross-opacity: 0;

  &::before,
  &::after {
    --w: clamp(2rem, 40%, 6rem);
    width: var(--w);
    left: calc(50% - calc(var(--w) / 2));
    top: 50%;
    height: 0.8px;
    transition: transform 0.4s, opacity 0.4s;
    transform: rotate(var(--MP-cross-rotate));
    opacity: var(--MP-cross-opacity);
    background-color: #fff;
    content: "";
    @apply block absolute z-[1];
  }
  &::after {
    transform: rotate(calc(var(--MP-cross-rotate) + 90deg));
  }
}
