@mixin wh($dim: 100%) {
  width: $dim;
  height: $dim;
}
.photo-viewer.photo-multi-viewer {
  --number-of-slides: 3;
  --slides-per-view: 1;
  cursor: grab;
  .photo-slider {
    @apply w-full h-screen;
  }
  .first-slide,
  .other-slides {
    overflow: hidden;
  }
  > .viewed-photo {
    object-fit: cover;
    @include wh;
  }
  .first-slide {
    position: relative;
    @include wh;
  }
  .other-slides {
    @include wh;
    @apply flex justify-center items-center;
    .medium-pack-photo {
      width: var(--enlarged-photo-w);
      height: var(--enlarged-photo-h);
    }
  }
}
.photo-multi-viewer {
  .medium-pack-photo-viewer-navbar {
    @apply cursor-default whitespace-nowrap	absolute top-0 left-0 w-full h-12 px-2 flex justify-between items-center bg-white bg-opacity-75;
  }
  button {
    cursor: pointer;
    appearance: none;
    border: none;
    position: absolute;
    z-index: 99;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  button:not(#close-multi-viewer) {
    top: calc(50vh - 2rem);
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity env(--viewer-transtion-speed);
    @apply h-24 w-12;
    svg {
      @apply w-5 h-auto inline-block;
      path {
        stroke: black;
        stroke-width: 0.5;
      }
    }
  }
  button#multi-viewer-prev {
    left: 0;
    border-radius: 0 theme("spacing.4") theme("spacing.4") 0;
    svg {
      margin-left: -0.75rem;
      transform: scaleX(-1);
    }
  }
  button#multi-viewer-next {
    right: 0;
    border-radius: theme("spacing.4") 0 0 theme("spacing.4");
    svg {
      margin-right: -0.75rem;
    }
  }
  button#close-multi-viewer {
    @apply relative w-5 h-12;
    background: none;
    &:before,
    &:after {
      position: absolute;
      top: 0.7rem;
      left: 0.4rem;
      content: " ";
      height: 1.5rem;
      width: 2px;
      border-radius: 1px;
      background-color: black;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
