@mixin wh($dim: 100%) {
  width: $dim;
  height: $dim;
}
.photo-viewer {
  cursor: zoom-out;
  background-color: rgba(255, 255, 255, 0);
  transition-property: opacity, background-color;
  transition-duration: env(--viewer-transtion-speed);
  top: 200vh;
  position: fixed;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100vh;
  .viewed-photo {
    object-fit: cover;
    position: relative;
    transform: scale(1.05);
  }
}
.photo-viewer-close {
  opacity: 0 !important;
}
.photo-viewer-open {
  top: 0;
  background-color: white;
  .viewed-photo {
    $h: var(--enlarged-photo-h);
    $w: var(--enlarged-photo-w);
    animation: env(--viewer-transtion-speed) place-img forwards;
  }
}

@keyframes place-img {
  to {
    $h: var(--enlarged-photo-h);
    $w: var(--enlarged-photo-w);
    transform: scale(1);

    width: $w;
    height: $h;
    top: calc((100vh - #{$h}) / 2);
    left: calc((100% - #{$w}) / 2);
  }
}
