{
  "svelteSortOrder": "markup-scripts-styles-options",
  "svelteStrictMode": true,
  "svelteBracketNewLine": false,
  "svelteIndentScriptAndStyle": false,
  "arrowParens": "avoid",
  "semi": true,
  "singleQuote": false,
  "endOfLine": "auto",
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120
}
